<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div>
        <h1 class="h1 text-center">View Data</h1>
      </div>
      <div class="col-6 py-5 px-3 border rounded">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Username</th>
              <th scope="col">Created At</th>
              <th scope="col">Updated At</th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach((user, index) => { %>
              <tr>
                <th scope="row"><%= index + 1 %></th>
                <td><%= user.username %></td>
                <td><%= user.createdAt.toISOString().split('T')[0] %></td>
                <td><%= user.updatedAt.toISOString().split('T')[0] %></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row justify-content-center pt-2">
      <div class="col-6">
        <div class="d-flex justify-content-end">
          <a href="/login" class="btn btn-secondary">Back to login</a>
        </div>
      </div>
    </div>
  </div>

  <%- include('./partials/footer.ejs') %>
</body>

</html>